@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 255, 255);
}
   
   






/*HEADER*/
nav{
    background-color: black;
    padding: 20px 30px 20px 30px;
    display: flex;
}   


.nav_links {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;     
} 

    

.nav_links li {
    padding: 0px 30px;
}

.nav_links li a  {
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: color 500ms;
}

.nav_links li a:hover  {
    text-decoration: underline;
    color: rgb(218, 189, 236);
    font-size: 1rem;
}


.logo{
    width: 20rem;
    font-family: 'Rubik', sans-serif; 
    margin-right: auto;   
}

.logo h1{
    color: aliceblue;
    font-size: 3rem;
    letter-spacing: 15px;
}
/*END of HEADER*/






/*TERMINATOR-CONTAINER*/
.terminator-container {
    margin:auto;
    display: flex;
    justify-content: center;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    line-height: 25px;
    background-color:rgb(255, 255, 255);
}



.terminatorimg{
    width: 300px;
    height: 450px;
    margin: 20px;   
}
   


.terminator-container p{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    margin-bottom: 1rem; 
    margin: 20px;
    width: 30%;
    
}

.terminator-container span{
    font-size: 2rem;
    font-weight: 600;
}

ul {
    list-style-type: none;
}


img {
    filter: drop-shadow(5px 5px 5px #363635);  
}



ul li a {
    text-decoration-line: none;
    font-size: 16px;
    color:rgb(212, 121, 121);
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    line-height: 1.6rem;
}


ul li a:hover {
    text-decoration-line: none;
    font-size: 0.8rem;
    color:rgb(0, 0, 0);
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    line-height: 1.6rem;
}


ul{
    list-style-type: none;  
}
/*END of TERMINATOR-CONTAINER*/
















/*DESCRIPTION*/
.description{
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%; 
    background-color: rgb(255, 255, 255);
}

.description a{
    font-size: 0.8rem;
}

.container1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;  
}

.description h3{
    margin-bottom: 0.6rem;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    
}

.container2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;
    
}


.container3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;   
}

.container4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 380px;   
}

.line{
    width: 100%;
    height: 20px;
    margin: auto;
    background-color: rgb(231, 231, 231);
}
/*END of DESCRIPTION*/






/*NEWS-CONTAINER*/
.news-container{
    padding: 0 20px;
    background-color:rgb(255, 255, 255);
}

.news-container h1{
    margin-top: 2rem;
    font-size: 4rem;
    color: rgb(112, 112, 112);
    font-family: 'Rubik', sans-serif;
}

.news-images img{
    margin-bottom: 1rem;
    width: 200px;
    height: 300px;
    
}

.news-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}



.price-section{
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 11rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.price-mad-max{
    width: 80px;
    height: 25px;
    border-radius: 30px;
    padding: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 500ms;
}

.price-mad-max:hover{
    background-color: rgb(11, 109, 7);
}

.price-uncharted{
    width: 80px;
    height: 25px;
    border-radius: 30px;
    padding: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 500ms;
}

.price-uncharted:hover{
    background-color: rgb(11, 109, 7);
}

.price-white-house{
    width: 80px;
    height: 25px;
    border-radius: 30px;
    padding: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 500ms;
}

.price-white-house:hover{
    background-color: rgb(11, 109, 7);
}
/*END of NEWS-CONTAINER





















/*VENOM-CONTAINER*/
.venom-container{
    margin: auto;
    height: 100%;
    padding: 0 20px;
    background-color:rgb(255, 255, 255);
}


.venom-container h1{
    margin-top: 2rem;
    font-size: 4rem;
    color: rgb(112, 112, 112);
    font-family: 'Rubik', sans-serif;
}

.venom-container img{
    width: 900px;
    height: 500px;
    margin-bottom: 4rem;
}

.venom{
    text-align: center;
}
/*END of VENOM-CONTAINER*/













/*FOOTER*/
.footer{
    margin: 0 auto;
    height: 35vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color:rgb(0, 0, 0);
    
}

.footer h4{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.footer a{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: rgb(216, 45, 45);
}

.footer a:hover{
    color: aliceblue;
    font-size: 1rem;
}

.icons-section{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgb(245, 20, 20);
    background-color:rgb(0, 0, 0);
}

i{
    margin-bottom: 6rem;
    opacity: 0.4;
}

i:hover{
    cursor: pointer;
    color: rgb(255, 183, 183);
}
/*END of FOOTER*/
























@media (max-width: 1800px) {
    .terminator-container p{
        width: 60%;
    }
}



@media (max-width: 1600px) {
    .terminator-container p{
        width: 60%;
    }
}





@media (max-width: 1200px) {

   
    .terminator-container p{
        width: 30%;
    }

    .venom-container img{
        width: 70%;
        height: 70%;
    }


    .terminator-container p{
        width: 40%;
    }
} 


@media (max-width: 1000px) {
    

}
   


@media (max-width: 800px) {
  .terminator-container{
    display: inline-block;
  }

    .terminator-container p{
        width: 80%;
        font-size: 0.8rem;
    }


    .news-container img{
        width: 60%;
        height: 60%;
    }

    .news-images{
        display: inline-block;
        margin-left: 8rem;
    }

    .news-container h1{
        font-size: 2rem;
    }



    .description a{
        font-size: 60%;
    }

    .description h3{
        font-size: 60%;
    }



    .container1{
        width: 150px;
    }
    .container2{
        width: 150px;
    }
    .container3{
        width: 150px;
    }
    ul li a:hover {
        text-decoration-line: none;
        font-size: 0.6rem;
        color:rgb(0, 0, 0);
        font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
        line-height: 1.6rem;
    }

    .logo h1{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }


    .venom-container h1{
        font-size: 2rem;
    } 

    .price-section{
        width: 70%;
        gap: 40px;
    }

    .price-mad-max{
        width: 50%;
        font-size: 80%;
    }
    .price-uncharted{
        width: 50%;
        font-size: 80%;
    }
    .price-white-house{
        width: 50%;
        font-size: 80%;
    }
    
    .container4{
        display: none;
    }
}
    




@media (max-width: 650px) {
    .venom-container img{
        width: 100%;
        height: 100%;
    } 
    
    .footer h4{
        font-size: 90%;
    }

    .price-section{
        width: 60%;
        gap: 30px;
    }
}  


@media (max-width: 550px) {
   .footer{
    width: 100%;
   }

   .nav_links{
    display: inline-block;
   }

   i{
    font-size: 20px;
   }

   .terminator-container img{
    width: 80%;
    height: 80%;
   }

   .icons-section{
    gap: 20px;
   }
}
  

